/*---------fonts----------------*/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Meddon&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/*-----------------*/
header {
  position: relative;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}
.top-title h1 {
  width: 100%;
  font-family: "Playfair Display", serif;
  color: black;
  background-color: white;
  animation: changeColor 4s infinite alternate;
}
.video-first {
  margin: auto;
  width: 80%;
  height: auto;
}
.carousel-first {
  margin: auto;
  width: 80%;
  height: auto;
}
.card {
  margin: 30px;
}
.text_entry {
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 50%;
  left: 25%;
  font-family: "Meddon", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: justify;
}
.services-card h3 {
  text-align: center;
}
.flags {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 70px;
  position: relative;
  top: 0px;
  box-sizing: border-box;
  background-size: cover;
  z-index: 10;
}
.flags_item,
.flags_item_es img {
  width: 26px;
  /*height: 40px;*/
  object-fit: contain;
  cursor: pointer;
}
/*.flags:hover {
  cursor: pointer;
}*/
.top-title {
  display: flex;
  flex-direction: row;
}
/*----------------pseudo - class-----------------*/
@keyframes changeColor {
  0% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}
